<nav>
    <ul>
        <li><a href="/">Tokenr</a></li>
        <li><a href="/"> Play </a></li>
        <li><a href="/scoreboard"> Scoreboard </a></li>
        <% if (admin) { %>
        <li><a href="/new"> Add Word </a></li>
        <% } %>
    </ul>
</nav>
