<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button class="close">&times;</button>
<h4 class="modal-title"> Create New Event </h4>
</div>
<div class="modal-body">
<form>
<label>Title</label>
<input type="text" class="form-control" id="title" />
<label>Details</label>
<textarea id="details"  class="form-control"></textarea>
<label>Date</label>
<input type="datetime-local" class="form-control" id="date" />    
</form>
</div>
<div class="modal-footer">
<a href="#" class="modify btn btn-primary"> Create Event </a>
</div>
</div>
</div>